.commentTop {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
}

.commentComponent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40vw;
}

.commentText {
}

.likeBtnImg {
  width: 15px;
  height: 15px;
}

.likeCommentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  gap: 0.25rem;
  background-color: rgba(245, 222, 179, 0);
  border: 0;
}

.commentBackgroundDiv {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

.commentLikes {
  font-size: 0.7rem;
  color: grey;
}

.likeCommentButton:hover {
  cursor: pointer;
}

.likesContainerWithButton {
  display: flex;
  justify-content: space-between;
}

.likeCommentButton {
  transition-duration: 0.5s;
  border: 2px solid rgba(255, 255, 255, 0);
}
.likeCommentButton.true {
  border: 2px solid rgb(17, 127, 252);
  border-radius: 5px;
}

.postedCommentOnDate {
  color: rgb(88, 88, 88);
  font-size: 0.8rem;
}

@media (max-width: 500px) {
  .commentComponent {
    width: 85vw;
  }
}
