.commentContainer.hide {
  max-height: 0;
  display: none;
}

.commentContainer.show {
  max-height: fit-content;
}

.commentContainer {
  transition-duration: 0.2s;
}

h6 {
  margin: 0;
  padding: 0;
}
