.friendImg {
  width: 50px;
  height: 50px;
}

.friendContainer {
  display: flex;
  /* border: 2px solid grey; */
  align-items: center;
  justify-content: space-between;
}

.friendContainer:hover {
  background-color: rgb(182, 182, 182);
}

.friendImg {
  outline: 1px solid black;
}

.friendImgNameCont {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.friendNameDiv {
  font-size: larger;
}

.friendsHeading {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.searchBoxButton {
}

.searchBoxButton {
  display: flex;
  align-items: center;
}

.buttonIconSearch {
  width: 15px;
  height: 15px;
}

.friendImgNameCont:hover {
  cursor: pointer;
}

.deleteFriend {
  background-color: rgb(17, 127, 252);
  color: white;
  font-weight: 600;
  border: 1px solid grey;
}

.deleteFriend:hover {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  color: rgb(17, 127, 252);
}
