.loadingFriends.false {
  display: none;
}

.allFriends {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.searchResults {
  background-color: rgba(39, 154, 255, 0.432);
  width: 100%;
}

.searchErrorBox.false {
  display: none;
}

.searchErrorBox.true,
.searchLoading.true {
  text-align: center;
  font-weight: bold;
  outline: 1px solid black;
}

.searchLoading.false {
  display: none;
}

.searchBtnFriend {
  border: none;
  background: none;
}

.searchBtnFriend:hover {
  cursor: pointer;
}

.searchBoxButton {
  outline: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.incomingReqs:hover {
  cursor: pointer;
  background-color: rgba(87, 202, 255, 0.521);
}

.incomingReqs {
  border: none;
  background: none;
  background-color: rgb(17, 127, 252);
  color: white;
  font-weight: 600;
}
