.allPostContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-height: 70vh;
}

.textareadiv {
  border-radius: 10px;
  outline: 2px solid rgb(102, 102, 102);
  padding: 5px;
}

.buttonNewPost {
  border: 0;
  padding: 2px;
  background-color: rgba(255, 255, 255, 0);
}

.mainCont {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.newPost {
  margin-top: 15px;
}

.newImgButtonPic {
  width: 15px;
  height: 15px;
}

.inputLabelPicture {
  background-color: rgba(129, 129, 129, 0.507);
  border-radius: 5px;
  padding: 2px;
}

.inputLabelPicture:hover {
  cursor: pointer;
}

.homeYourFeedHeading {
  font-size: 1.5rem;
}

/* .mainFeed {
  margin-bottom: 15px;
} */

.loadMoreContentBtn {
  width: 20vw;
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  background: none;
  border-radius: 5px;
  border-color: rgb(17, 127, 252);
  color: rgb(17, 127, 252);
  transition-duration: 1s;
}

.loadMoreContentBtn:hover {
  cursor: pointer;
  background-color: rgb(17, 127, 252);
  color: white;
}

@media (max-width: 500px) {
  .loadMoreContentBtn {
    width: 50vw;
  }
}

.emptyDivForSpace {
  height: 15px;
  visibility: none;
  color: #f1f2f6;
}
