.likeCommentContainer {
  display: flex;
  justify-content: center;
}

.commentButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.25rem;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid grey;
  background-color: rgba(240, 255, 255, 0);
  border: 0;
}

.commentButton:hover {
  cursor: pointer;
}
