.likeCommentContainer {
  display: flex;
  justify-content: center;
}

.commentButton,
.likeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.25rem;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid grey;
  background-color: rgba(240, 255, 255, 0);
  border: 0;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.commentButton:hover,
.likeButton:hover {
  cursor: pointer;
}

.likeButton,
.commentButton {
  transition-duration: 0.5s;
  border: 2px solid rgba(255, 255, 255, 0);
}

.likeButton.true {
  border: 2px solid rgb(17, 127, 252);
}

.commentButton.show {
  border: 2px solid rgb(17, 127, 252);
  font-weight: bold;
}
