.navIcon {
  width: 25px;
  height: 25px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  background: 0;
  border: 0;
  border-radius: 25px;
}

.navBar {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  /* left: 50%;
  transform: translateX(-50%); */
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
  margin-top: 2px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 5px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  cursor: pointer;
}

.profileNav {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.btn3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn2.true,
.btn1.true,
.btn3.true {
  background-color: rgba(150, 150, 150, 0.212);
  padding: 0.5;
}

.experimenting {
  gap: 1rem;
  outline: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  width: 40vw;
}

.textboxAreaHome {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 100%;
  border-radius: 5px;
  font-size: 1rem;
  border: 0;
  height: auto;
}

.textboxAreaHome:focus {
  outline: 2px solid rgb(17, 127, 252);
}

#idfile {
  display: none;
}

.userPicInput {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.textInputDiv {
  display: flex;
  gap: 1rem;
}

.picInputDiv {
  display: flex;
  justify-content: center;
}

.newPostExp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textboxAreaHome::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.topImageHeader {
  height: 2rem;
  transition: 1s;
}

.topImageHeader:hover {
  filter: invert();
  cursor: pointer;
}

.navButtonsContainer {
  display: flex;
  gap: 1rem;
}

@media (max-width: 500px) {
  .experimenting {
    width: 85vw;
  }
}

@media (max-width: 980px) {
  .navBar {
    flex-direction: column;
  }

  .textboxAreaHome {
    min-height: 3rem;
  }
}
