.navIcon {
  width: 25px;
  height: 25px;
}

.btn1,
.btn2,
.btn3,
.btn4 {
  background: 0;
  border: 0;
  border-radius: 25px;
  filter: brightness(0.5);
}

.navBar {
  display: flex;
  align-items: center;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  gap: 2rem;
}

.btn1:hover,
.btn2:hover,
.btn3:hover,
.btn4:hover {
  cursor: pointer;
}

.profileNav {
  width: 25px;
  height: 25px;
  border-radius: 25px;
}

.btn3 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.btn2.true,
.btn1.true,
.btn3.true {
  background-color: rgba(150, 150, 150, 0.212);
  padding: 0.5;
}

.experimenting {
  gap: 1rem;
  outline: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
}

.textboxAreaHome {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  width: 25vw;
  border-radius: 5px;
  border: 0;
  height: auto;
}

.textboxAreaHome:focus {
  outline: 2px solid rgb(17, 127, 252);
}

#idfile {
  display: none;
}

.userPicInput {
  width: 35px;
  height: 35px;
  border-radius: 25px;
}

.textInputDiv {
  display: flex;
  gap: 1rem;
}

.picInputDiv {
  display: flex;
  justify-content: center;
}

.newPostExp {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.textboxAreaHome::placeholder {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
