.modal {
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(190, 190, 190, 0.801);
  z-index: 3000;
}

.modal.hide {
  visibility: none;
  opacity: 0;
  z-index: -1000;
  width: 0px;
  height: 0px;
}

.newPostModalContainer {
  position: relative;
  left: 50vw;
  top: 10vw;
  background-color: rgba(0, 0, 255, 0.459);
  z-index: 100;
  transform: translateX(-50%);
  width: fit-content;
}

.newPostModalContainer.hide {
  opacity: 0;
}

.newPostModalContainer.show {
  opacity: 1;
}

.newImgButtonPic {
  width: 15px;
  height: 15px;
}
