.postContainer {
  border: 2px solid rgb(182, 182, 182);
  width: 50vw;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 10px;
  gap: 0.5rem;
  box-shadow: 2px 2px 10px grey;
}

.buttonImgPost {
  width: 15px;
  height: 15px;
}

.commentButton {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  border-radius: 5px;
  padding: 2px;
  border: 1px solid grey;
}

.commentButton:hover {
  cursor: pointer;
}

.userImage {
  max-width: 500px;
  border-radius: 5px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 500px) {
  .userImage {
    max-width: 250px;
  }
  .postContainer {
    width: 50vw;
  }
}
