.profPicImg {
  width: 45px;
  height: 45px;
  border-radius: 25px;
}

.profileDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
}

.profileDiv {
  cursor: pointer;
}

.profName {
  color: rgb(17, 127, 252);
  font-size: 1rem;
  font-weight: 500;
}
