.profileUserProfileImg {
  width: 20vw;
  height: 20vw;
  border: 2px solid black;
}

.profileStats {
  background-color: grey;
  border-radius: 5px;
  display: flex;
}

.profileHeader {
  margin-top: 10vh;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.usernameProfile {
  font-size: xx-large;
}

.postsCommentsMainDiv {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profilePostsContainer,
.profileCommentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-height: 70vh;
}

.profileCommentContainer.false {
  display: none;
}

.profilePostsContainer.false {
  display: none;
}

.loadMoreProfile {
  margin-bottom: 15px;
}
