.errorBox.hide {
  display: none;
}

.formBoxContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox {
  display: flex;
  flex-direction: column;
  background-color: rgba(137, 43, 226, 0.493);
  padding: 5px;
  border-radius: 5px;
  align-items: center;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 98%;
}

hr {
  width: 100%;
}

.usernameDiv,
.inputName,
.passwordInput,
.confirmPasswordInputDiv,
.buttonBox {
  display: flex;
  flex-direction: column;
}

.buttonBox {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.emailInput,
.passwordInput,
.confirmPasswordInput,
.usernameInput {
}

.errorBox.show {
  margin-top: 0.5rem;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  outline: 2px solid red;
  background-color: white;
  border-radius: 5px;
  border: 0;
  max-width: inherit;
  text-wrap: wrap;
  width: 250px;
}

.textRegister {
  max-width: inherit;
  text-align: center;
}
