.searchUserProfile {
  display: flex;
  justify-content: space-between;
}

.addFriend.true {
  background-color: rgba(12, 148, 189, 0.918);
}

.addFriend.undefined:hover,
.addFriend.false:hover {
  cursor: pointer;
}

.addFriend.pending {
  background-color: grey;
}

.btnAcceptFriend {
  background: rgb(17, 127, 252);
  color: white;
  font-weight: 600;
}

.btnDeclineFriend {
  background-color: grey;
  color: white;
  font-weight: 600;
}

.btnAcceptFriend:hover,
.btnDeclineFriend:hover {
  cursor: pointer;
}

.closeSearchModalBtn {
  background-color: grey;
  color: white;
  font-weight: 600;
}
